<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<% if (@user.stampcard == nil)%>
	<%= button_to "Create new Stampcard", new_path, :class => "button medium", :method => :get %>
<% else %>
	<img src="https://media.giphy.com/media/IqojY0rgVWfOE/giphy.gif">
<% end %>